@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anta&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* General Styles */
body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #333;
  margin: 0;
  padding: 0;
}

/* Header Styles */
header {
  cursor: pointer;
  background-color: #333;
  padding: 20px;
  color: wheat;
  text-align: center;
  font-size: 2.8em;
  letter-spacing: .9em;
}

header h1 {
  margin: 0;
  padding: 8px;
  text-transform: uppercase;
  font-family: "Anta", sans-serif;
  font-size: 1em;
  font-weight: 600;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Anta", sans-serif;
}

nav {
  background-color: #444;
  margin: 3px;
  border-radius: 12px;
  padding: 10px 0;
  text-align: center;
}

nav a {
  color: wheat;
  font-size: 1em;
  text-decoration: none;
  margin: 0 20px;
  letter-spacing: .2em;
}

nav a:hover {
  border-bottom: 3px solid;
  color: #bc8f8f;
  border-radius: 12px;
}

/* Container for Introduction and Skills */
#content-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 14px;
}

/* Introduction Styles */
#introduction h2{
  font-size: 1.4em;
  text-transform: uppercase;
  letter-spacing: .6em;
  color: wheat;
  text-align: center; 
}

#introduction {
  background-color: #444;
  color: azure;
  padding: 20px;
  margin: 20px 0;
  flex: 1;
  margin-right: 20px;
  border-radius: 12px;
}

ol li{
  text-align: center;
  color: wheat;
  text-decoration: none;
  list-style-type: none;
  border: 1px solid #7c7a7a;
  border-radius: 6px;
  padding: 10px;
  margin-bottom: 10px;
  text-transform: capitalize;
  letter-spacing: .7em;
  cursor: pointer;
}

ol li:hover{
  background-color: #bc8f8f;
  color: #444;
  font-weight: 600;
}

/* Skills Styles */
#skills h2{
  font-size: 1.4em;
  text-transform: uppercase;
  letter-spacing: .6em;
  color: wheat;
  text-align: center; 
}

#skills {
  background-color: #444;
  padding: 20px;
  margin: 20px 0;
  flex: 1;
  border-radius: 12px ;
  color: wheat;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  border: 1px solid #bc8f8f;
  border-radius: 6px;
  cursor: pointer;
  padding: 12px;
  margin: 4px;
  margin-bottom: 10px;
}

ul li:hover{
  background-color: #bc8f8f;
  color: #444;
  font-weight: 600;
}

/* Projects Section Styles */
#projects h2{
  font-size: 1.4em;
  text-transform: uppercase;
  letter-spacing: .6em;
  color: wheat;
  text-align: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: calc(50% - 20px); /* Adjust width as needed */
  margin: 10px; /* Adjust margin between cards*/
  padding: 20px; /* Add padding of cards*/
  background-color: #444;
  border: 1px solid #333;
  border-radius: 8px;
  border-color: #bc8f8f;
}

.card h3 {
  margin-top: 0;
  color: wheat;
}

.card p {
  margin-bottom: 10px;
  color: azure;
}

.card img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

/* Contact Section Styles */
#contact h2{
  font-size: 1.4em;
  text-transform: capitalize;
  letter-spacing: .6em;
  color: wheat;
  text-align: center;
}

footer {
  background-color: #333;
  margin: 8px;
  padding: 20px;
  color: wheat;
  text-align: center;
}

footer p span{
  color: #bc8f8f;
  font-size: .9em;
  font-weight: 600;
  text-align: start;
}

footer p a{
  color: wheat;
  text-decoration: none;
}

footer p a:hover{
  color: #bc8f8f;
}

/* Responsive Design */
@media only screen and (max-width: 768px) {
  header,
  nav,
  #content-container,
  #introduction,
  #skills,
  #projects,
  footer {
    padding: 10px;
  }
  li {
    margin-bottom: 5px;
  }
  #content-container {
    flex-direction: column;
  }
  #introduction,
  #skills {
    margin-right: 0;
  }
  .card {
    width: calc(100% - 20px); /* Full width on smaller screens */
  }
}
